.main {
  background-color: white;
  padding: 50px;
  border-radius: 13px;
  display: flex;
  flex-direction: column;
  max-width: 300px;
  text-align: center;

  gap: 35px;

  .wrapperList {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .buttons {
    display: flex;

    justify-content: space-around;
    button {
      padding: 6px 12px;
      background-color: rgb(255, 255, 255);
      outline: none;
      border: 1px solid rgb(55, 55, 177);
      border-radius: 5px;
      font-size: 14px;
      &:hover {
        cursor: pointer;
        background-color: rgb(49, 26, 180);
        color: white;
      }
    }
  }
}
