html {
  --main-bg: rgb(124, 139, 228);
}

.main {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-bg);
  flex-direction: column;
  gap: 5px;
  p {
    padding: 0;
    margin: 0;
    color: white;
  }

  .dayOfWeek {
    font-size: 25px;
  }

  .welcome {
    font-size: 35px;
  }

  .done {
    font-size: 20px;
  }
}

.line {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: white;
}

.expiredProductsManagerWrapper {
  margin-top: 15px;
}
