.wrapper {
  position: relative;
  .list {
    border: 1px solid rgb(76, 76, 204);
    height: 25px;
    width: 200px;
    border-radius: 8px;

    &:hover {
      cursor: pointer;
    }

    .mainTitle {
      padding: 5px;
      text-align: start;
    }
  }

  .modal {
    position: absolute;
    top: 20px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    min-width: 160px;
    padding: 5px;
    text-align: start;
    z-index: 50;

    max-height: 150px;
    overflow: hidden auto;

    &::-webkit-scrollbar {
      width: 4px;
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background: var(--main-bg);
      border-radius: 4px;
    }

    .option {
      padding: 5px 10px;

      &:hover {
        background-color: rgb(100, 100, 218);
        color: white;
        border-radius: 5px;
        cursor: pointer;
      }
    }
  }
}
