.main {
  width: 100%;
  background-color: var(--main-bg);
  display: flex;
  justify-content: center;
  align-items: center;

  .wrapper {
    position: relative;
    gap: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .column {
    position: absolute;
    width: 20px;
    background-color: brown;
    height: 300px;
    top: -10px;
    box-shadow: 4px 4px 4px 4px #bebebe1a;
    border-radius: 3px;

    &_1 {
      left: 230px;
    }

    &_2 {
      left: 400px;
    }

    &_3 {
      left: 570px;
    }
  }

  .name {
    position: absolute;
    top: 10px;
    font-size: 28px;
    color: white;
    transition: color 0.5s ease;
  }
  .line {
    display: flex;
    position: relative;
    width: 520px;
    justify-content: space-around;
  }

  .item {
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;

    &:hover {
      cursor: pointer;
      scale: 1.2;
    }
  }

  .underline {
    min-width: 500px;
    background-color: brown;
    height: 15px;
    position: absolute;
    bottom: -15px;
    border-radius: 3px;
  }
}

.glowGreen {
  color: #4caf50;
  animation: glow-green 1.5s ease;
}

.glowRed {
  color: #f3361d;
  animation: glow-red 1.5s ease;
}

@keyframes glow-green {
  0% {
    color: #f0f0f0;
  }
  100% {
    color: #34bb39;
  }
}
@keyframes glow-red {
  0% {
    color: #f0f0f0;
  }

  100% {
    color: #f3361d;
  }
}
