.main {
  p {
    color: white;
  }
  .input {
    outline: none;
    border: 1px solid rgb(66, 66, 199);
    padding: 5px 5px;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
    height: 35px;
  }
}
