.numberContainer {
  position: relative;
  height: 1em;
  width: 1em;
  overflow: hidden;
  font-size: 15px;
  font-weight: bold;
  line-height: 1;
}

.numberRoll {
  position: absolute;
  top: 0;
  left: 0;
  animation: rollDigits var(--animation-duration, 3s) ease-out forwards;
  text-align: center;

  span {
    display: block;
    height: 1em;
  }
}

@keyframes rollDigits {
  0% {
    transform: translateY(-1000%);
  }
  80% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}
